<o-form editable-detail="no" show-header="no">
    <o-row>
        <o-combo attr="CAT_ID" searchable="yes" read-only="no" service="categories" entity="category" keys="CAT_ID"
            columns="CAT_ID;CAT_NAME" visible-columns="CAT_NAME" value-column="CAT_ID"></o-combo>
        <o-combo attr="BRA_ID" searchable="yes" read-only="no" service="brands" entity="brand" keys="BRA_ID"
            columns="BRA_ID;BRA_NAME" visible-columns="BRA_NAME" value-column="BRA_ID"></o-combo>
    </o-row>

    <div fxLayout="column" layout-padding fxFlex="30">
        <label class="input-comp-title">{{ 'PRO_PRICE' | oTranslate }}</label>
        <o-slider attr="PRO_PRICE"  read-only="no"
           layout="column" [max]="maxPrice" min="0" thumb-label="true" step="5"
           tick-interval="auto"></o-slider>
      </div>

    <o-filter-builder #filterBuilder attr="categFilter" filters="CAT_ID:CAT_ID;BRA_ID:BRA_ID;PRO_PRICE:PRO_PRICE" [target]="productsGrid"
        query-on-change="yes" query-on-change-delay="500" [expression-builder]="filter">
    </o-filter-builder>
</o-form>
<o-grid #productsGrid attr="productsGrid" service="products" entity="productEnabled" keys="PRO_ID"
    columns="PRO_ID;PRO_NAME;PRO_DESCRIPTION;PRO_PRICE;PRO_IMAGE;CAT_ID;PRO_SALE" cols="5" query-rows="10"
    page-size-options="4;8;12" orderable="true" sortable-columns="PRO_PRICE:desc;PRO_PRICE:asc" insert-button="false"
    pagination-controls="true" gutter-size="3%" fixed-header="yes" grid-item-height="45%" detail-mode="none"
    quick-filter-columns="PRO_NAME">
    <o-grid-item *ngFor="let data of productsGrid.dataArray">
        <div class="productCard" routerLink="{{data.PRO_ID}}">
            <img alt="Imagen_producto" [src]="getImageSrc(data.PRO_IMAGE)" class="img_produc">
            <div class="productInfo">
                <span class="tittle">{{ data.PRO_NAME }}</span>
                <div class="sale" *ngIf="(data.PRO_SALE != null); else priceBlock">
                    <div class="priceSale">
                        <p><span>{{'SALE' | oTranslate}}:</span>{{ data.PRO_SALE | number: '1.2-2' }} €</p>
                        <p class="originalPrice">{{'ORIGINAL' | oTranslate}}: {{ data.PRO_PRICE | number: '1.2-2' }} €
                        </p>
                    </div>
                </div>
                <ng-template #priceBlock>
                    <div class="price">{{ data.PRO_PRICE | number: '1.2-2' }} €</div>
                </ng-template>
            </div>
        </div>
    </o-grid-item>
</o-grid>