.filter{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e1e1e1;
    width: 15vw;
    height: 90%;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-top: 15px;
    transition: transform 0.3s ease; 
}
.productCard:hover {
    transform: scale(1.05);    
}
.tittle{
    font-size: 1.35em;
    text-align: left;
}
.price{
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
}
.priceSale{
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
}
.priceSale p {
    margin: 0px;
}
.priceSale p span {
    margin-right: 3%;
    color: red;
}
.originalPrice{
    font-weight: lighter;
    font-size: 0.7em;
    text-decoration: line-through;
}
.productInfo {
    height: 200px;
    width: 90%;
    margin-bottom: 5%;
}
.img_produc {
    margin-top: 5%;
    max-width: 90%;
    min-height: 50%;
    max-height: 51%;
    overflow: hidden;
}
.productCard img {
    border-radius: 15px;
}
.productCard strong {
    font-size: 1.1em;
    color: #333;
}
.productCard em {
    font-size: 0.9em;
    color: #777;
    font-style: normal;
}
a {
    text-decoration: none;
}
.o-form{
    height: 64px;
}
.o-grid.o-grid-fixed{
    display: block;
    max-height: calc(100% - 64px);
    height: calc(100% - 64px);
}