.filter{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:10px;
    
}

@media only screen and (max-width: 1400px) {
    .filter {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media only screen and (max-width: 730px) {
    .filter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .filter {
        grid-template-columns: repeat(1, 1fr);
    }
}

.o-form{    
    margin: 10px;    
}

.grid-container{
   margin: auto;
}



