<o-form show-header="false">
    <div class="header-charts">

        <div class="filter-container">
            <o-integer-input class="columns-number" #inputNumProducts attr="COLUMNS_NUMBER" label="COLUMNS_NUMBER"
                [data]="numberOfProducts" min="0" (onValueChange)="updateNoP($event)"></o-integer-input>
            <o-daterange-input class="date-filter" #inputDate attr="SALE_DATE" read-only="no" [data]="selectedDates"
                format="D/M/Y"></o-daterange-input>
            <o-combo class="cat-filter" attr="CAT_ID" searchable="yes" read-only="no" service="categories"
                entity="category" keys="CAT_ID" columns="CAT_ID;CAT_NAME" visible-columns="CAT_NAME"
                value-column="CAT_ID"></o-combo>
            <o-combo class="bra-filter" attr="BRA_ID" searchable="yes" read-only="no" service="brands" entity="brand"
                keys="BRA_ID" columns="BRA_ID;BRA_NAME" visible-columns="BRA_NAME" value-column="BRA_ID"></o-combo>
            <o-combo class="pge-filter" attr="PGE_ID" read-only="no" service="product-genders" entity="productGender"
                keys="PGE_ID" columns="PGE_ID;PGE_NAME" visible-columns="PGE_NAME" value-column="PGE_ID"
                translate="yes"></o-combo>

            <o-filter-builder #filterBuilder attr="salesFilter"
                filters="SALE_DATE:SALE_DATE;CAT_ID:CAT_ID;BRA_ID:BRA_ID;PGE_ID:PGE_ID" [target]="salesTable"
                query-on-change="yes" query-on-change-delay="500" [expression-builder]="filter">
            </o-filter-builder>
        </div>
        <o-button attr="stroked1" type="STROKED" icon="youtube_searched_for" layout-padding (onClick)="refreshChart()">
        </o-button>
    </div>
    <h1> {{"SALES_CHART" | oTranslate}}</h1>

    <o-chart type="discreteBar" [data]="data" attr="salesBarChart" x-axis="PRO_NAME" y-axis="TOTAL_SALES"
        [chart-parameters]="barParameters" [color]="colors" layout-fill>
    </o-chart>
    <o-table #salesTable attr="salesTable" service="products" entity="sales" keys="PRO_ID"
        columns="PRO_ID;PRO_NAME;TOTAL_SALES;SALES_DATE" visible-columns="PRO_ID;PRO_NAME;TOTAL_SALES;SALES_DATE"
        [query-rows]="numberOfProducts" delete-button='no' (onDataLoaded)="loadChart($event)" pageable="true"
        sort-columns="TOTAL_SALES:esc" oHidden>
        <o-table-column attr="SALES_DATE" title="SALES_DATE" type="date"></o-table-column>
    </o-table>

</o-form>