.add-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    width: 70vw;
    background-color: white;
}

.header-area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.add-details-title {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    align-items: center;
    gap: 10px;
}

.login, .name, .surname, .email, .password, .phone {
    display: grid;
    grid-template-columns: 200%;
    gap: 10px;
    margin: 10px;
}