<o-form attr="categoriesDetail" service="categories" entity="category" keys="CAT_ID" header-actions="R;U"
    show-header-navigation="yes" (onUpdate)="onUpdate($event)">
    <o-integer-input attr="CAT_ID" sql-type="INTEGER" enabled="no" hidden></o-integer-input>
    <div fxLayout="row">
        <o-column fxFlex fxLayoutGap="auto" fxFlex="auto" title="CAT_NAME">
            <div fxLayout="row" fxLayoutGap="auto" fxLayoutAlign="start center">
                <o-text-input fxFlex="40" attr="CAT_NAME" label="CAT_NAME" required="yes"></o-text-input>
            </div>            
        </o-column>
    </div>
</o-form>
