<o-grid #productsGrid attr="productsGrid" title="products" service="products" entity="product" keys="pro_id"
    columns="pro_id;pro_name;pro_description;pro_price;pro_image" query-rows="8" page-size-options="8;10;12"
    orderable="true" sortable-columns="pro_id" insert-button="false"
    pagination-controls="true" gutter-size="8px" fixed-header="yes" grid-item-height="300px" detail-mode="none">
    <o-grid-item *ngFor="let data of productsGrid.dataArray">
        <div class="productCard">
            <img [src]="getImageSrc(data.pro_image)" width="144px" height="200px">
            <span><strong>{{ data.pro_name }}</strong></span>
            <span><em>{{ data.pro_description }}</em></span>
            <span>{{ data.pro_price }}</span>
        </div>
    </o-grid-item>
</o-grid>

