.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    border: 1px solid black;
    width: 150px;
    height: 250px;
    border-radius: 15px;
    background-color: white;
}