*target*
*.jar
*.war
*.ear
*.class

**/ngx/dist/**
**/ngx/node/**
**/ngx/node_modules/**
package-lock.json

# yarn
yarn.lock

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

#Clover
.clover/

# IntelliJ
.idea
*.iml

.yo-rc.json
