.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
 
.container {
    width: 80%;
}
 
.details-container {
    max-width: 60vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: auto;
}
 
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
 
.product-details,
.order-details {
    padding: 20px;
}
 
.product-info,
.order-info {
    margin-top: 20px;
}
 
.image-container {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}
 
 
.img-product {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
}
 
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}


.ol-container{
    display: flex;
    padding: 3vh;
    border-bottom: 1px solid gray;
}

.ol-details{
    margin-left: 5%;
}

.img-product{
    max-width: 80%;
    max-height: 80%;
}

#back-button {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    background-color: lightcyan;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  
  }