<o-form attr="skintypesDetail" service="skinTypes" entity="skinType" keys="SKIN_ID" header-actions="R;U"
    show-header-navigation="yes">
    <o-integer-input attr="SKIN_ID" sql-type="INTEGER" enabled="no" hidden></o-integer-input>
    <div fxLayout="row">
        <o-column fxFlex fxLayoutGap="auto" fxFlex="auto" title="SKIN_NAME">
            <div fxLayout="row" fxLayoutGap="auto" fxLayoutAlign="start center">
                <o-text-input fxFlex="40" attr="SKIN_NAME" label="SKIN_NAME" required="yes"></o-text-input>
            </div>
        </o-column>
    </div>
</o-form>
