<div class="body-container">
  <h1>{{"DATA_BY_SKIN" | oTranslate}}</h1>
  <div *ngIf="languageService.isEn$ | async; then enBlock else esBlock"></div>
  <ng-template #enBlock>
    <div class="insights">
      Most of your users have <span class="bold">{{maxSkin | lowercase}} skin</span>, which accounts
      for <span class="bold">{{percentage | number: '1.2-2'}}% of the total</span> website users.
    </div>
  </ng-template>
  <ng-template #esBlock>
    <div class="insights">
      La mayoría de tus usuarios tienen una <span class="bold"> piel {{maxSkin | lowercase}}</span>
      siendo un <span class="bold">{{ percentage | number: '1.2-2'}}% sobre el total</span> de usuarios de la web.
    </div>
  </ng-template>
  <o-chart type="pie" service="profiles" entity="userProfileSkin" attr="userskinPieChart" x-axis="SKIN_NAME"
    y-axis="total" layout-fill [chart-parameters]="pieParameters" [color]="colors">
  </o-chart>
  <o-table service="profiles" entity="userProfileSkin" oHidden="yes" columns="SKIN_NAME;TOTAL"
    (onDataLoaded)="loadDataAnalysis($event)">
  </o-table>
</div>