.main-container {
    background-color: #fff;
    padding: 20px;
}

.second-container {
    background-color: #fff;
}

.flex-container {
    display: flex;
    gap: 10px; 
    margin: 12px auto;
}

.header-area,.header-list{
    display: flex;
    justify-content: center;
}

.flex-container o-text-input,
.flex-container o-date-input,
.flex-container o-currency-input,
.flex-container o-checkbox{
    flex: 1;
}