mat-tab-group{
    background-color: #fff;
    padding-top: 1vh;
}

.main-container {
    background-color: #fff;
    padding: 20px;
}

.flex-container {
    display: flex;
    gap: 10px; 
    margin: 12px auto;
}

.flex-container o-text-input,
.flex-container o-date-input,
.flex-container o-currency-input {
    flex: 1;
}