<o-form label-header="ADD_AGE_RANGE" attr="new-range-age" service="billed-ages" entity="billedAge" keys="GBA_ID"
    after-insert-mode="new">
    <div fxLayout="row" fxLayoutGap="20px">
        <o-integer-input fxFlex="100" attr="GBA_MIN_AGE" class="input-padding" min="18" grouping="no"
            required="yes"></o-integer-input>

        <o-integer-input fxFlex="100" attr="GBA_MAX_AGE" class="input-padding" min="18" grouping="no"
            required="yes"></o-integer-input>
    </div>
</o-form>