<o-form attr="categoriesForm" service="categories" entity="category" keys="CAT_ID" (onInsert)="onInsert($event)">
    <o-column title="ADD_CATEGORY">
      <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="70">
          <div>
            <o-text-input fxFlex="30" attr="CAT_NAME" class="input-padding" step="0" grouping="no"
              required="yes"></o-text-input>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span style="color: gray; font-size: 12px; padding-left: 8px;">*La primera letra debe empezar con mayúscula</span>
          </div>
          <br>
        </div>
      </div>
    </o-column>
  </o-form>
  