<o-table attr="ordersTable" service="orderlines" entity="orderLines" keys="OL_ID" insert-button="false" delete-button="false"
    columns="OL_ID;ORD_ID;PRO_NAME;OL_PRICE;OL_UNITS;ORD_DATE"
    visible-columns="ORD_ID;PRO_NAME;OL_PRICE;OL_UNITS;ORD_DATE" query-rows="15">
    <o-table-column attr="ORD_ID" title="ORD_ID" width="100px"></o-table-column>
    <o-table-column attr="PRO_NAME" title="PRO_NAME" width="100px"></o-table-column>
    <o-table-column attr="OL_PRICE" title="OL_PRICE" width="100px"></o-table-column>
    <o-table-column attr="OL_UNITS" title="OL_UNITS" width="100px"></o-table-column>
    <o-table-column attr="ORD_DATE" title="ORD_DATE" type="time" width="100px"></o-table-column>
</o-table>
