.productCard {  
    background-color: #ffffff;
    width: 15vw;
    height: 92%;
    min-width: 200px;
    min-height: 350px;    
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    margin: 10px;       
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
}

.productCard:hover {
    transform: scale(1.03);
}

.productCard img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    margin: 20px;   
}

.title {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;    
    width: 100%;    
    height: 2em;
    line-height: 1em; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0 0 15px;
}

.description-div {    
    width: 90%;    
    margin: 10px;       

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.originalPrice {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: red;
    text-decoration: line-through;
}

.priceSale {
    display: flex;
    justify-content: flex-end;
        
}

.discount-span {
    margin: 0 25px 0 0;
    color: darkgreen;
    font-style: italic;
    font-size: 1.2em;
}

.sale-span {
    color: darkgreen;
    font-size: 1.2em;
    margin: 0px 0px 0px 0px;
    font-weight: bold;    
}

.price {
    text-align: right; 
    font-weight: bold; 
    font-size: 1.2em;
}