<div class="productCard" routerLink="{{product.PRO_ID}}">
  <div class="img-container">
    <img alt="Imagen_producto" [src]="getImageSrc(product.PRO_IMAGE)" class="img_produc">
  </div>
  <div class="description-div">
    <div class="title">{{ product.PRO_NAME }}</div>
    <div class="sale" *ngIf="(product.DISCOUNT != 0 ); else priceBlock">
      <div class="priceSale">
        <span class="sale-span">{{ product.REAL_PRICE | number: '1.2-2' }} €</span>
        <span class="originalPrice">{{ product.PRICE | number: '1.2-2' }} €</span>
      </div>
    </div>
    <ng-template #priceBlock>
      <span class="price">{{ product.PRICE  | number: '1.2-2' }} €</span>
    </ng-template>
  </div>
</div>