.productCard {   

    background-color: #ffffff;
    width: 15vw;
    height: 92%;
    min-width: 200px;
    min-height: 300px;    
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    margin: 10px;       
    cursor: pointer; 
}

.productCard:hover {
    /* transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
}

.productCard img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    margin: 20px;      
}

.img_produc {
    /* margin-top: 5%;
    max-width: 90%;
    min-height: 50%;
    max-height: 51%;
    overflow: hidden; */
}

.productCard strong {
    /* font-size: 1.1em;
    color: #333; */
}

.productCard em {
    /* font-size: 0.9em;
    color: #777;
    font-style: normal; */
}

.title {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;    
    width: 100%;    
    height: 2em;
    line-height: 1em; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0 0 15px;
}
 
.title:hover {    
   
  }

.sale {
    /* text-align: left;
    margin-top: 5%;
    font-family: Poppins, "Helvetica Neue", sans-serif; */
}

.description-div {    
    width: 90%;    
    margin: 10px;       

}

a {
    /* text-decoration: none; */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    /* padding: 2vh;
    margin-left: 4vh; */
}

.originalPrice {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: red;
    text-decoration: line-through;
}

.priceSale {
    display: flex;
    justify-content: flex-end;
        
}

.discount-span {
    margin: 0 25px 0 0;
    color: darkgreen;
    font-style: italic;
    font-size: 1.2em;
}

.sale-span {
    color: darkgreen;
    font-size: 1.2em;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    /* margin: 0.75vh 2.5vh;
    font-size: 1.5em;
    font-weight: bolder; */
}

.price {
    text-align: right; 
    font-weight: bold; 
    font-size: 1.2em;  
    /* font-size: 1.5em;
    font-weight: bolder;
    text-align: left;
    margin-top: 17%;
    margin-bottom: 12%;
    font-family: Poppins, "Helvetica Neue", sans-serif; */
}