<o-row attr="container" layout-align="space-between" elevation="1" appearance="none">
    <div layout-padding id="imagen"><img [src]="getImageSrc(product.PRO_IMAGE)" alt="imagen"></div>
    <o-column layout-padding class="right">
        <o-row attr="container" layout-align="start">
            <div><strong>{{product.PRO_NAME}}</strong></div>
        </o-row>
        <o-row>
            <div>{{product.PRO_DESCRIPTION}}</div>
        </o-row>
        <o-row>
            <div>{{product.PRO_PRICE}}€</div>
        </o-row>
    </o-column>
</o-row>