.container {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 3%;
}

.desc {
    width: 60%;
    margin: auto;
    padding-top: 1%;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.img-product {
    min-width: 20vw;
    min-height: 25em;
    max-width: 50vw;
    max-height: 25em;
    border-radius: 5%;
    object-fit: contain;
}

.prod-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 5%;
}

.price-container span {
    display: flex;
    justify-content: flex-end;
}


.salePrice {
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}

.originalPrice {
    color: darkgray;
    text-decoration: line-through;
    font-size: 1.2em;
}

.regularPrice {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10%;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    white-space: normal;
}

.brand {
    margin-top: 0px;
    width: 100%;
    white-space: normal;
}

.discount-span {
    margin-left: 15px;
    color: rgb(41, 218, 41);
    font-style: italic;
    font-size: 1.3em;
}

.description::first-letter {
    text-transform: capitalize;
}

.description {
    text-align: justify;
    margin-right: 3%;
}

#add-cart-button {
    border-radius: 10px;
    height: 60px;
    background-color: #a7bfc7;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    margin-inline-end: auto;
}

.buttons {
    margin-top: 15px;
}

#back-button {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    background-color: lightcyan;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;
}

.for {
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 15px;
    width: 100%;
}

.pill {
    display: flex;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    min-width: 50px;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    grid-gap: 10px;
}

.category {
    font-weight: bold;
}

.subtitle {
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
    white-space: normal;
}

.allergens {
    margin-left: 75px; 
    margin-right: 75px; 
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.allergen-type {
    font-size: 1em;
    color: #666;
    margin-right: 5px;
}

.pad {
    padding-bottom: 40px;
}

.allergic-warning-panel {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fd5151;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.allergy-text-area {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.warning-icon-allergy {
    flex-shrink: 0;
    size: 2em;
    color: #fd5151;
}

.allergy-list {
    font-size: 12px;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
    row-gap: 20px;
    
}

.subtitle {
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: normal;
}

.allergen-highlight .allergen-type {
    background-color: #fd5151;
    color: white;
}

.skintype {
    padding-bottom: 3%;
}

.prices {
    margin-bottom: 15px;
}




