.container {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 3%;
}

.desc {
    width: 60%;
    margin: auto;
    padding-top: 3%;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}


.img-product {
    min-width: 20vw;
    min-height: 25em;
    max-width: 50vw;
    max-height: 25em;
    border-radius: 5%;
    object-fit: contain;
}

.prod-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 5%;
}

.price-container p {
    margin: 0px;
}

.salePrice {
    font-size: 1.35em;
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
}

.originalPrice {
    font-weight: lighter;
    font-size: 0.7em;
    text-decoration: line-through;
    color: black;
}

.regularPrice {
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
}

h1 {
    margin-top: 0px;
}

.brand {
    margin-top: 0px;
}

.title::first-letter {
    text-transform: capitalize;
}


.description::first-letter {
    text-transform: capitalize;
}


.description {
    text-align: justify;
    margin-right: 3%;
}

.price {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
}


#add-cart-button {
    border-radius: 10px;
    height: 60px;
    background-color: #a7bfc7;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
}



.buttons {
    display: flex;
    margin-top: 5%;
}

#back-button {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    background-color: lightcyan;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;
}

.for{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
   
}
.pill{
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category{
    font-weight: bold;
}