<div *ngIf="product" class="container">
    <div class="img-container">
        <img class="img-product" [src]="getImageSrc(product.PRO_IMAGE)" alt="imagen">
    </div>
    <div class="prod-container">
        <h1 class="title">{{product.PRO_NAME}}</h1>
        <div class="buy-container">
            <div class="price" *ngIf="(sale != null); else priceBlock">
                <div class="priceSale">
                    <p>
                        <span>{{'SALE' | oTranslate}}:</span>{{ sale }} €
                    </p>
                    <p class="originalPrice">{{'ORIGINAL' | oTranslate}}: {{ price }} €</p>
                </div>
            </div>
            <ng-template #priceBlock>
                <p class="regularPrice">{{price}}€</p>
            </ng-template>

            <button class="buy-button" attr="BUY_BUTTON" (click)="createOrder()">{{'BUY_BUTTON' | oTranslate}}</button>
            <div class="description">{{product.PRO_DESCRIPTION}}</div>
        </div>
    </div>
</div>