.container {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 3%;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.img-product {
    min-width: 20vw;
    min-height: 25em;
    max-width: 50vw;
    max-height: 25em;
    border-radius: 5%;
    object-fit: contain;
}

.prod-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 5%;
}

.desc {
    width: 60%;
    margin: auto;
    padding-top: 3%;
}

#add-cart-button {
    border-radius: 10px;
    height: 60px;
    background-color: #a7bfc7;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
}

.buttons {
    height: 100%;
    display: flex;
    margin-top: 5%;
    align-items: flex-end;
}



.price-container p {
    display: flex;
    justify-content: flex-end;
}

.salePrice {
    margin-top: 10%;
    margin-left: 9px;
    color: darkgreen;
    font-size: 1.2em;
    font-weight: bold;
}

.originalPrice {
    display: flex;
    color: red;
    text-decoration: line-through;
    font-size: 1.2em;
}

.regularPrice {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10%;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    white-space: normal;
}

.brand {
    margin-top: 0px;
    width: 100%;
    white-space: normal;
}

.discount-span {
    margin: 0 25px 0 0;
    color: darkgreen;
    font-style: italic;
    font-size: 1.2em;
}

.description::first-letter {
    text-transform: capitalize;
}

.description {
    text-align: justify;
    margin-right: 3%;
}

.price {
    margin-top: 5%;
}

#back-button {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    background-color: lightcyan;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    grid-gap: 10px;
}

.for {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    align-items: stretch;
}

.pill {
    display: flex;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    align-items: center;
}

.category {
    font-weight: bold;
}

.subtitle {
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
    white-space: normal;
}

.allergens {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.allergen-type {
    font-size: 1em;
    color: #666;
    margin-right: 5px;
}

.pad {
    padding-bottom: 20px;
}