.orders{
    height: calc(100vh - 160px);
    overflow-y: auto;
}
.o-table-pagination {
    position: sticky;
    z-index: 1; 
}
.name{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:5px;
    margin:10px;
    padding-bottom: 50px
}

.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:5px;
    margin:10px;
    padding-bottom: 50px
}

.info{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:5px;
    margin:10px;
    padding-bottom: 50px
}

.allergen-container{
    height: 100%;
}

.error-message {
    color: red;
    font-size: 12px;
  }

.profile-container {
    background-color: white;
    padding: 10px;
}
