<mat-tab-group fxFlex>
    <mat-tab label="{{ 'ORDERS HISTORY' | oTranslate }}">
        <o-table attr="ordersTable" service="orders" entity="orderByUser" keys="ORD_ID" insert-button="no"
            delete-button="no" columns="ORD_NAME;ORD_PHONE;ORD_ZIPCODE;ORD_DATE;ORD_ID;ORD_SENT"
            visible-columns="ORD_NAME;ORD_PHONE;ORD_ZIPCODE;ORD_DATE;ORD_ID;ORD_SENT" query-rows="15">
            <o-table-column attr="ORD_NAME" title="ORD_NAME" width="150px"></o-table-column>
            <o-table-column attr="ORD_PHONE" title="ORD_PHONE" width="150px"></o-table-column>
            <o-table-column attr="ORD_SENT" title="ORD_SENT" width="50px"></o-table-column>
            <o-table-column attr="ORD_ZIPCODE" title="ORD_ZIPCODE" width="50px"></o-table-column>
            <o-table-column attr="ORD_DATE" title="ORD_DATE" type="time" width="150px"></o-table-column>
            <o-table-column attr="ORD_ID" title="ORD_ID" width="150px"></o-table-column>
        </o-table>
    </mat-tab>    
    <mat-tab label="{{ 'MY_PROFILE' | oTranslate }}">
        <o-form #form attr="usrprofileTable" service="profiles" entity="userProfile" keys="USR_ID" header-actions="R;U"
           columns="USR_ID;USR_NAME;USR_SURNAME;USR_EMAIL;USR_PHONE;UPR_BIRTHDATE;UPR_ADDRESS"
            visible-columns="USR_NAME;USR_SURNAME;USR_EMAIL;USR_PHONE;UPR_BIRTHDATE;UPR_ADDRESS" 
            show-header-navigation="yes">
            <label>Nombre</label>
            <o-integer-input attr="USR_ID" sql-type="INTEGER" enabled="no" hidden></o-integer-input>
        
            <div class="Nombre">
                <o-text-input attr="USR_NAME" label="USR_NAME" required="yes"></o-text-input>
                <o-text-input attr="USR_SURNAME" title="USR_SURNAME"></o-text-input>
            </div>
            <div>Contacto</div>
            <div class="Contacto">
                <o-text-input attr="USR_PHONE" title="USR_PHONE"></o-text-input>
                <o-text-input attr="USR_EMAIL" title="USR_EMAIL"></o-text-input>
            </div>
            <label>Información adicional</label>
            <div class="Info">
                <o-date-input attr="UPR_BIRTHDATE" title="UPR_BIRTHDATE" format="YYYY-MM-DD"></o-date-input>
                <o-text-input attr="UPR_ADDRESS" title="UPR_ADDRESS"></o-text-input>
            </div>
        </o-form>
    </mat-tab>
</mat-tab-group>
