<o-form attr="newAllergenForm" service="allergen-products" entity="allergenProduct" keys="AP_ID" (onInsert)="onInsert($event)">
    <o-column title="ADD_ALLERGEN">
        <div fxLayout="row" fxLayoutGap="8px">
            <div fxFlex="40">
                <div>
                    <o-combo attr="ALLER_ID" label="{{ 'SELECT_ALLERGEN' | oTranslate }}" label-visible="true"
                        searchable="yes" service="allergens" entity="allergen" keys="ALLER_ID" columns="ALLER_NAME"
                        visible-columns="ALLER_NAME" value-column="ALLER_ID" required="yes" null-selection="no">
                    </o-combo>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span style="color: gray; font-size: 12px; padding-left: 8px;"></span>
                </div>
                <br>
            </div>
        </div>
    </o-column>
</o-form>