<div class="full-page">
    <mat-icon class="flecha" routerLink="">arrow_back</mat-icon>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field class="register-field">
            <input matInput class="mat-input" #usr_login placeholder="{{ 'USERNAME' | oTranslate }}" id="usr_login"
                [formControl]="userCtrl">
            <mat-error *ngIf="userCtrl.hasError('required')">
                {{ 'ERROR_USER_REQUIRED' | oTranslate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="register-field">
            <input matInput class="mat-input" #usr_password placeholder="{{ 'PASSWORD' | oTranslate }}" id="usr_password"
                type="password" [formControl]="pwdCtrl">
            <mat-error *ngIf="pwdCtrl.hasError('required')">
                {{ 'ERROR_PASS_REQUIRED' | oTranslate }}
            </mat-error>
        </mat-form-field>
 
        <mat-form-field>
            <input matInput class="mat-input" #usr_name placeholder="{{ 'usr_name' | oTranslate }}" id="usr_name"
                [formControl]="usernameCtrl">
            <mat-error *ngIf="usernameCtrl.hasError('required')">
                {{ 'ERROR_USER_NAME_REQUIRED' | oTranslate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput class="mat-input" #usr_surname placeholder="{{ 'usr_surname' | oTranslate }}"
                id="usr_surname" [formControl]="userSurnameCtrl">
            <mat-error *ngIf="userSurnameCtrl.hasError('required')">
                {{ 'ERROR_USER_NAME_REQUIRED' | oTranslate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput class="mat-input" #usr_email placeholder="{{ 'usr_email' | oTranslate }}" id="usr_email">
        </mat-form-field>
        <mat-form-field>
            <input matInput class="mat-input" #usr_phone placeholder="{{ 'usr_phone' | oTranslate }}" id="usr_phone">
        </mat-form-field>
 
        <button mat-raised-button type="submit">{{ 'REGISTER' | oTranslate }}</button>
        <div class="linea"></div>
        <label class="etiqueta">{{ 'ALREADY_CLIENT' | oTranslate }}</label>
        <button mat-raised-button routerLink="/login">{{ 'LOGIN' | oTranslate }}</button>
    </form>
</div>