.full-page {
    background-image: url('^assets/images/skinCare3_portada.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
 
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    place-content: center;
    margin-top: calc(23vh - 10vh);
    height: 10vh;
}
 
#botones {
    background-color: #a7bfc7;
}
 
.flecha {
    color: #a7bfc7;
    transform: scale(3);
    margin: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
 
.flecha:hover {
    color: #587580;
    transform: scale(3.5);
}
 
.linea {
    border: 1px solid black;
    margin: 15px;
    margin-top: 20px;
    width: 13%;
}
 
.etiqueta {
    margin-bottom: 10px;
    color: black;
}

.mat-mdc-form-field {
    min-width: 300px;
    margin-bottom: 5px;
}
