::ng-deep body{
    background-color: #ffe0cb;
}

.card1{
    background-color: #ae988a;
    margin: 40px;
    padding: 40px;
    min-width: 1200px;
    min-height: 400px;
}

.card2{
    background-color: #ae988a;
    /* margin: 40px;
    padding: 40px; */
}

.card3{
    background-color: #ae988a;
    /* margin: 40px;
    padding: 40px; */
}