<div style="padding-bottom: 80px;">

    <div>    
        "Explora nuestra amplia selección de productos de cuidado de la piel y belleza, junto con una variedad de artículos de cuidado personal. 
        Encuentra soluciones de alta calidad para mejorar tu bienestar y apariencia."
    </div>
    <div class="card1">  
        <app-products-recent></app-products-recent>
    </div>
    <div class="card2">
        <app-products-best-seller></app-products-best-seller>
    </div>
    <div class="card3">
        <app-products-discount></app-products-discount>
    </div>
    
    
</div>