

.background-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30vh;
    background-image: url('../../../../assets/images/imgslogan.png');
    background-size: cover;  
    background-repeat: no-repeat;            
    background-position: center center;
}
 
.text-container {
    font-family: 'Cormorant Garamond', serif;
    font-size: 27px;
    color: #194A58;
    margin: 20px;
    z-index: 20;
    padding-left: 3%;
    min-height: 40px;
    width: 450px;
}