.all {
  width: 100%;
  display: grid;
  grid-template-areas: "a a a"
                        "b b c";
  gap: 50px;

}
.order-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 5vh;
}
.cart-item-container {
  grid-area: b;
  margin:50px 50px;
  display: flex;
  min-width: 60%;
  flex-direction: column;
  gap: 30px;
}

.title {
  color: var(--brand-color);
  font-weight: 600;
  font-size: 22px;
  grid-area: a;
  margin-top: 50px;
  margin-left: 50px;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-family: var(--font);
}

.total-title {
  font-size: 24px;
  margin: 0;

}

.total {
  margin: 0;
  color: var(--brand-color);
  font-weight: 600;
  font-size: 34px;
}

.units {
  margin: 0;
  color: #828282;
}

.order-form {
  grid-area: c;
  margin-top: 50px;
  padding: 2%;
  padding: 5%;
  background-color: #d6edfa7c;
  border-radius: 1%;
  max-height: 30vh;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom:5.5%;
  font-family: var(--font);

}
.info-form{
  display: grid;
  grid-template-columns: auto auto;
  gap:5%;
}
.order-name{
  grid-column:1/-1;
}
.form-button{
  grid-column:1/-1;
  width: 100%;
  margin-top:7.5%;
  background-color: var(--brand-color);
}

.back-button{
  background-color: var(--brand-color);
  color:white;
  width: 100%;
  min-height: 50px;
}


.order-description{
  grid-column:1/-1;
}
.info-form{
  height: 100%;
}

.no-cart {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.order-buttons-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {

  background-color: white;
}
::ng-deep .mat-mdc-raised-button:not(:disabled){
  background-color:var(--brand-color) !important ;
  color: white !important;
  height: 50px !important;
  font-size: 18px !important;
}

::ng-deep .mat-mdc-form-field {
  font-size: 14px;
  line-height: auto;
  letter-spacing: 0%;

}

::ng-deep .mdc-text-field {
  will-change: none;
  position: none
}

::ng-deep .o-form .scrolling{
  overflow: visible;
}

@media (max-width: 1300px) {
  .all {
    width: 100vw;
    display: grid;
    grid-template-areas: "a a a"
                          "b b b"
                          "c c c" ;
    gap: 50px;
  
  }
  .order-form {
    margin:auto;
    max-height: 90%;
    width: 90%;
  }
  .order-container {
    width: 100vw;
  }
}