.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.all {
  width: 96vw;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  gap: 40px;
}

.cart-item-container {
  display: flex;
  min-width: 40%;
  max-width: 80%;
  flex-direction: column;
  gap: 30px;
}

.title {
  color: var(--brand-color);
  font-weight: 600;
  font-size: 28px;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-family: var(--font);
}

.total-title {
  font-size: 24px;
  margin: 0;

}

.total {
  margin: 0;
  color: var(--brand-color);
  font-weight: 600;
  font-size: 34px;
}

.units {
  margin: 0;
  color: #828282;
}

.order-form {
  margin-top: 110px;
  padding: 20px;
  background-color: #d6edfa7c;
  border-radius: 1%;
  max-height: 335px;
  max-width: 450px;
  height: fit-content;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5.5%;
  font-family: var(--font);

}

.info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.order-name {
  grid-column: 1/-1;
}

.check-button {
  grid-column: 1/-1;
}

.form-button {
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--brand-color);
}

#back-button {
  background-color: var(--brand-color);
  color: white;
  width: 100%;
  min-height: 50px;
}

.pay-button{
  background-color: var(--brand-color);
  color: white;
  width: 100%;
  min-height: 50px;
}

.order-description {
  grid-column: 1/-1;
}

.no-cart {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.order-buttons-container {
  display: flex;
  justify-content: center;
}




::ng-deep .mdc-text-field {
  will-change: none;
  position: none
}

::ng-deep .o-form .scrolling {
  overflow: visible;
}

@media (max-width: 1248px) {
  .all {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;

  }

  .order-form {
    margin: auto;
    max-height: 90%;
    width: 545px;
    margin-bottom: 100px;
  }

  .order-container {
    width: 100vw;
  }

  .cart-item-container {
    grid-area: b;
    margin: 50px 50px;
    display: flex;
    min-width: 40%;
    max-width: 100%;
    flex-direction: column;
    gap: 30px;
  }
}