<o-form class="order-form" #formOrder attr="newOrder" service="orders" entity="order" keys="ORD_ID"
    show-header-navigation="no" show-header="false">
    <div fxLayout="row">
        <o-column class="order-column" fxFlex title="ORDER INFORMATION">
            <div fxLayout="column" fxLayoutGap="8px">
                <o-text-input class="order-input" fxFlex="40" attr="ORD_NAME" required="yes"
                    placeholder="Name"></o-text-input>
                <o-integer-input class="order-input" fxFlex="40" attr="ORD_PHONE" thousand-separator=" " required="yes"
                    placeholder="Phone"></o-integer-input>
                <o-integer-input class="order-input" fxFlex="40" attr="ORD_ZIPCODE" min="0" max="99999"
                    thousand-separator="" required="yes" placeholder="Zipcode"></o-integer-input>
                <o-text-input class="order-input" fxFlex="40" attr="ORD_ADDRESS" required="yes"
                    placeholder="Address"></o-text-input>
                <o-integer-input #pro_id class="order-input" attr="PRO_ID" hidden></o-integer-input>
                <o-button (onClick)="submitOrder()" type="RAISED" label="BUY" class="order-button"></o-button>
            </div>
        </o-column>
    </div>
</o-form>