<div class="order-container">
    <ng-container *ngIf="cart.length; else showMessage">
        <div class="all">
            <h1 class="title">{{'BASKET' | oTranslate}}</h1>
            <div class="cart-item-container">
                <div *ngFor="let item of cart">
                    <app-cart-item [item]="item" (updateCart)="updateTotalAmount()"></app-cart-item>
                </div>
                <div class="total-amount">
                    <div class="total-left">
                        <p class="total-title">Total</p>
                        <p class="units">{{units}} {{'PRODUCTS' | oTranslate}}</p>
                    </div>
                    <div class="total-right">
                        <p class="total"> {{totalAmount | number: '1.2-2' }}€</p>
                    </div>
                </div>
            </div>
            <div class="order-form">
                <h1 class="form-title">{{'ORDER_DATA' | oTranslate}}</h1>
                <o-form #formOrder attr="newOrder" service="orders" entity="order" keys="ORD_ID"
                    show-header-navigation="no" show-header="false" class="form-block">
                    <div class="info-form">
                        <div class="order-name">
                            <o-text-input #nameInput class="order-input" attr="ORD_NAME" required="yes"
                                placeholder="ORD_NAME"></o-text-input>
                        </div>
                        <div class="order-phone">
                            <o-integer-input #phoneInput class="order-input" attr="ORD_PHONE" thousand-separator=" "
                                required="yes" placeholder="ORD_PHONE"></o-integer-input>
                        </div>
                        <div class="order-zip">
                            <o-integer-input #zipInput class="order-input" attr="ORD_ZIPCODE" min="0" max="99999"
                                thousand-separator="" required="yes" placeholder="ORD_ZIPCODE"></o-integer-input>
                        </div>
                        <div class="order-description">
                            <o-text-input #addressInput class="order-input" attr="ORD_ADDRESS" required="yes"
                                placeholder="ORD_ADDRESS"></o-text-input>
                        </div>
                        <div class="form-button">
                            <o-button class="back-button" (click)="submitOrder()" type="RAISED"
                                [label]="'PURCHASE_BUTTON' | oTranslate">{{'PURCHASE_BUTTON' | oTranslate}}</o-button>
                        </div>
                    </div>
                </o-form>
            </div>
        </div>
    </ng-container>
    <ng-template #showMessage>
        <div class="no-cart">
            <div class="mensaje">
                El carrito está vacío
            </div>
            <button mat-raised-button id="back-button" attr="BACK_BUTTON" (click)="goBack()">{{'BACK_BUTTON' |
                oTranslate}}</button>
        </div>
    </ng-template>
</div>

<form name="form" action="https://sis-t.redsys.es:25443/sis/realizarPago" method="POST" (submit)="submitRedsysOrder()"
    ngNoForm>
    <!-- Valor fijo -->
    <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1" />
    <!-- Cadena en formato JSON con todos los datos de la petición (ver formulario del js) -->
    <!-- Tras montar la cadena, es necesario codificarla en BASE64 -->
    <input type="hidden" name="Ds_MerchantParameters" value="" id="Ds_MerchantParameters" #Ds_MerchantParameters />
    <input type="hidden" name="Ds_Signature" value="" id="Ds_Signature" #Ds_Signature />
</form>