.order-container {
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 5vh;
}

.cart-item-container {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.order-form {
  margin-top: 50px;
  width: 500px; 
}

.order-column {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.order-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.order-input:focus {
  border-color: #f9ffa1;
}

#order-button {
  border-radius: 10px;
  height: 60px;
  background-color: #f8b88c;
  font-size: large;
  text-transform: uppercase;
  font-weight: bolder;
}

#order-button:hover {
  transform: translateY(-2px);
}

#order-button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.total-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  min-width: 50vw;
  font-size: xx-large;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vh;
}

#back-button {
  border-radius: 10px;
  height: 60px;
  background-color: lightcyan;
  font-size: large;
  text-transform: uppercase;
  font-weight: bolder;
  margin-left: 20px;

}

.no-cart{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.order-buttons-container{
  display: flex;
  justify-content: center;
}


