.mat-toolbar {
    background-color: white;
    color: black;
    display: flex;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

img{
    height: 20px;
    width: 200px;
}

.links{
    display: flex;
    gap: 20px;
    margin-left: 10%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.links a:hover{
    color: #B6A522;
    text-decoration: underline;
}

.shopping-cart {
    display: flex;
}

nav{
    margin-left: auto;
}