.cabecera{
    display: grid;
    grid-template-columns: 20% 80%;
}
.cabecera div a img {
    display: block;
    width: 80%;
    padding: 25px;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.links a:hover{
    color: #B6A522;
    text-decoration: underline;
}

nav{
    margin-left: auto;
}