<mat-toolbar>
    <a routerLink="">
        <img src="./assets/images/skincare-biotech-high-resolution-logo-transparent.png" routerLink=""
            alt="SkinCare BioTech">
    </a>

    <div class="links">
        <a routerLink="/view">{{'PRODUCTS_LINK' | oTranslate}}</a>
        <a routerLink="">{{'FEATURED_LINK' | oTranslate}}</a>        
    </div>
    <nav>
        <button mat-raised-button id="botones" routerLink="/login">{{ 'LOGIN' | oTranslate }}</button>
    </nav>

</mat-toolbar>
<router-outlet></router-outlet>