<o-app-layout #appLayout show-language-selector="yes" mode="mobile" class="drawer_hidden" show-user-info="false">
  <o-app-layout-header class="nav">
    <div class="nav-login">

      <div class="nav-left-side">
        <a class="title" href="/"><img class="logo" src="./assets/images/skincare-logo.svg" width="100%" /></a>
      </div>
      <div class="browser"><app-public-browser></app-public-browser></div>
      <div class="nav-right-side">
        <div class="navbar-item">
          <a routerLink="/order/cart" title="{{('CART_ITEMS' | oTranslate) + ' (' +cartCount+')'}}">
            <div class="cart-container">
              <i class="material-icons">shopping_cart</i>
              <span class="cart-count">{{ cartCount }}</span>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a *ngIf="!isLogedIn" routerLink="/login" title="{{('MY_PROFILE' | oTranslate)}}">
            <i class="material-icons">person</i>
            {{ 'MY_PROFILE' | oTranslate}}
          </a>
          <a *ngIf="isLogedIn" routerLink="/profile" title="{{('MY_PROFILE' | oTranslate)}}">
            <i class="material-icons">person</i>
            {{ 'MY_PROFILE' | oTranslate}}
          </a>
        </div>
        <div class="navbar-item">
          <a *ngIf="!isLogedIn" routerLink="/login" title="{{('LOGIN' | oTranslate)}}">
            <i class="material-icons">power_settings_new</i>
            {{('LOGIN' | oTranslate)}}
          </a>
          <a *ngIf="isLogedIn" (click)="logout()" title="LOGOUT">
            <i class="material-icons">power_settings_new</i>
            {{ isLogedIn ? ('LOGOUT' | oTranslate) : '' }}
          </a>
        </div>
      </div>

    </div>
  </o-app-layout-header>



  <router-outlet></router-outlet>
</o-app-layout>