.cart-item{
    display: flex;
    border-radius: 10px;
    background-color: white;
    max-width: 50vw;
    min-width: 50vw;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);    
}

.img-container{
    min-width: 200px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.img-product{
    position: relative;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    margin: 20px; 
}


.item-details-container{    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.tittle{
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    font-family: Poppins, "Helvetica Neue", sans-serif;    
    width: 100%;    
    height: 3em;
    line-height: 1em; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin:5px; 
    padding: 5px;
}

.units-container{
    display: flex;
    justify-content: center;
    /* width: 30%; */
    margin: 10px;
    padding: 20px;
}

.item-amount{
    border: solid 1px rgba(160, 147, 147, 0.411);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;    
}

.item-btn{
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: 300;
}

.price-container{    
    margin: 10px;
    display: flex;
    flex-direction: column;    
    min-width: fit-content;
    text-align: right; 
    font-weight: bold;
    font-size: 1em;    
}

.priceSale p span{
    color: darkgreen;       
}

.priceSale p del {
    color: red;
    text-decoration: line-through;
    font-size: 0.7em;    
}

.delete-container{
    align-self: start;
    margin-top: 3%;
    margin-right: 3%;
}

.delete-button{
    color: red;
    font-size: 30px;
    border:none;
    background-color: transparent;
}

.percent{
    color: darkgreen; 
    font-style: italic;
    font-weight: normal;   
}
