<div class="cart-item">

  <div class="item-details-container">
    <div class="img-container" routerLink="{{product.PRO_ID}}">
      <img class="img-product" [src]="getImageSrc(product.PRO_IMAGE)" alt="imagen">
    </div>
    <ng-container *ngIf="product.PRO_SALE != null ;else showSale">
      <div class="title-price" routerLink="{{product.PRO_ID}}">

        <p class="title">{{product.PRO_NAME}}</p>
        <div class="sale" *ngIf="product.PRO_SALE != null">
          <p class="price-before">{{ product.PRO_PRICE | number: '1.2-2' }} €</p>
          <p class="unit-price">
            {{ product.PRO_SALE | number: '1.2-2'}} €
          </p>
          <p class="percent">
            -{{ ((product.PRO_PRICE - product.PRO_SALE) / product.PRO_PRICE) * 100 | number: '1.0-0' }}%
          </p>
        </div>
      </div>
    </ng-container>

    <ng-template #showSale>

      <div class="title-price" routerLink="{{product.PRO_ID}}">

        <p class="title">{{product.PRO_NAME}}</p>
        <p class="unit-price2">{{ product.PRO_PRICE | number: '1.2-2'}} €</p>
      </div>

    </ng-template>
    <div class="left">
      <div class="units-container">
        <button #less class="item-btn" *ngIf="showBtns" id="rm_btn" [disabled]="isButtonDisabled"
          (click)="removeItem()">-</button>
        <div class="item-amount">{{item.units}}</div>
        <button class="item-btn" *ngIf="showBtns" id="add_btn" (click)="addItem()">+</button>
      </div>
  
  
      <div class="price-container">
        <div class="price" *ngIf="(product.PRO_SALE != null); else priceBlock2">
          <p>
            <span>{{ product.PRO_SALE*item.units | number: '1.2-2'}} € </span>
          </p>
        </div>
        <ng-template #priceBlock2>
          {{product.PRO_PRICE*item.units| number: '1.2-2'}} €
        </ng-template>
      </div>
    </div>
    <div class="delete-container">
      <button class="delete-button" *ngIf="showBtns" (click)="deleteItem()"><mat-icon>close</mat-icon> </button>
    </div>
  </div>
</div>