<div class="cart-item">
  <div class="img-container">
    <img class="img-product" [src]="getImageSrc(product.PRO_IMAGE)" alt="imagen">
  </div>
  <div class="item-details-container">
    <div class="tittle">
      {{product.PRO_NAME}}
    </div>
    <div class="units-container">
      <button #less class="item-btn" *ngIf="showBtns" id="rm_btn" [disabled]="isButtonDisabled"
        (click)="removeItem()">-</button>
      <div class="item-amount">{{item.units}}</div>
      <button class="item-btn" *ngIf="showBtns" id="add_btn" (click)="addItem()">+</button>
    </div>
    <div class="price-container">
      <div class="price" *ngIf="(product.USER_FINAL_PRICE!= null); else priceBlock">
        <div class="priceSale">
          <p>
            <span>{{ product.USER_FINAL_PRICE_SALE * item.units | number: '1.2-2'}}€ </span>
            <del>{{ product.USER_FINAL_PRICE * item.units | number: '1.2-2'}}€</del>
          </p>
        </div>
      </div>
      <ng-template #priceBlock>
        {{product.USER_FINAL_PRICE * item.units | number: '1.2-2'}}€
      </ng-template>

      <hr style="width: 80px;" size="1px" color="black" />

      <div class="price" *ngIf="(product.PRO_SALE != null); else priceBlock2">
        <div class="priceSale">
          <p>
            <span>{{ product.USER_FINAL_PRICE_SALE | number: '1.2-2'}}€ </span>
            <del>{{ product.USER_FINAL_PRICE | number: '1.2-2'}}€</del>
          </p>
        </div>
      </div>
      <ng-template #priceBlock2>
        {{product.USER_FINAL_PRICE| number: '1.2-2'}}€
      </ng-template>
    </div>
    <div class="delete-container">
      <button class="delete-button" *ngIf="showBtns" (click)="deleteItem()"><mat-icon>close</mat-icon> </button>
    </div>
  </div>
</div>