.cart-item{
    display: flex;
    background-color: white;
    margin: auto;
    border-bottom: solid 1px;
}

.img-container{
    min-width: 200px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.img-product{
    position: relative;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
}


.item-details-container{    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.title-price{
    font-family: Poppins, "Helvetica Neue", sans-serif;    
    width: 100%;    
    margin:5px; 
    padding: 5px;
}
.title{
    margin:0;
    font-size: 16px;
}
.unit-price{
    color:#828282;
    margin:0
}
.price-before{
    color: red; 
    font-style: italic;
    font-weight: normal;
    margin-right: 20px;   
}
.percent{
    color:rgb(41, 218, 41)
}
.sale{
    display:flex;
    flex-direction: row
}

.units-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.item-amount{
    background-color: #F9F9F9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;    
}

.item-btn{
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: 300;
}

.price-container{    
    margin: 10px;
    display: flex;
    flex-direction: column;    
    min-width: fit-content;
    text-align: right; 
    font-weight: 600;    
    font-size: 22px;
    color: #438CA1;
}

.priceSale p span{
    color: darkgreen;       
}

.priceSale p del {
    color: red;
    text-decoration: line-through;
    font-size: 0.7em;    
}

.delete-container{
    align-self: start;
    margin-top: 3%;
    margin-right: 3%;
}

.delete-button{
    color: red;
    font-size: 30px;
    border:none;
    background-color: transparent;
}

