.cart-item{
    display: flex;
    background-color: var(--back-ground);
    margin: auto;
    border-bottom: solid 1px;
}

.img-container{
    margin:20px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.img-container, .title-price{
    cursor: pointer;
}

.img-product{
    position: relative;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 5%;
}
.item-details-container{    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.title-price{
    font-family: Poppins, "Helvetica Neue", sans-serif;    
    width: 20vw;    
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    margin:0;
    font-size: 24px;
}
.price-before{
    color:#828282;
    text-decoration: line-through;
    grid-area: a;
    margin-bottom: 0;
}
.unit-price{
    color:black; 
    font-weight: bolder;
    font-size: 16px;  
    grid-area: b;
    margin-top: 0;
}
.unit-price2{
    color:black; 
    font-weight: bolder;
}
.percent{
    font-style: italic;
    color:rgb(41, 218, 41);
    grid-area: c;
    margin-top: 0;
}
.sale{
    display:grid;
    grid-template-areas: "a a "
                         "b c";
    width: 35%;
    margin-top:5px

}   

.units-container{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-left: 5%;
}

.item-amount{
    background-color: #d6edfa7c;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;    
}

.item-btn{
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: 300;
}

.price-container{    
    display: flex;
    flex-direction: column;    
    min-width: fit-content;
    text-align: right; 
    font-weight: 600;    
    font-size: 22px;
    margin-left: 15%;
    color: var(--brand-color);
}

.delete-container{
    align-self: start;
}

.delete-button{
    color: red;
    font-size: 30px;
    border:none;
    background-color: transparent;
}

.custom-button {
    background-color: red !important;
    border-radius: 10px !important;
    height: 70px !important;
    width: 190px !important;
    font-size: 1.5rem !important;
}

@media (max-width: 1300px) {


    .title{
        margin:0;
        font-size:18px;
    }



}