/* You can add global styles to this file, and also import other style files */
:root{
  --brand-color: #438CA1;
  --font :Poppins, "Helvetica Neue", sans-serif;
  --back-ground : #f3f8fb;

}

.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}
.o-form.form-block .scrolling{
  display: block !important;
  overflow: visible;
  height: 100%;
}
/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

html,body {
  background-color: #f3f8fb;
}

.allergen-radio mat-radio-group {
  display: grid !important;
  grid-template-columns: auto auto;
}

.allergen-container button.mat-mdc-button-base.mat-mdc-icon-button {
  visibility: hidden;
}

.filter .mat-mdc-text-field-wrapper {
  background-color: white;
}

.o-form .o-form-toolbar .o-form-toolbar-header{
  box-shadow: none;
}

.order-form .progress-bar-container{
display: none;
}