.pro-details-title {
    padding: 20px;
}
.div-container {
    margin: 10px;
}

.pro-enabled-container {
    padding-right: 30px;
}

.image-container {
    max-width: 400px;
}

#proSaleActivate {
    margin: 0px 2%;
}