mat-tab-group {
    background-color: #fff;
    padding-top: 1vh;
}

.header-area {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.main-container {
    background-color: #fff;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 80%;
}

.details-row {
    display: contents;
}

.name-price o-text-input,
.name-price .salePrice-with-offer,
.name-price o-slide-toggle {
    grid-column: span 2;
}

.name-price o-slide-toggle {
    grid-column: span 1;
}

.price-no-offer o-currency-input,
.price-no-offer .price-with-offer,
.price-no-offer div {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.category-brand-gender o-combo {
    grid-column: span 1;
}

.description o-textarea-input {
    grid-column: span 3;
}

.price-row o-currency-input {
    margin-right: 10px;

}

.price-label {
    font-weight: bold;
    padding: 5px;
    font-size: 1em;
}

.price-message {
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chart {
    width: 90%;
}

.chart-tittle-y-container {
    display: flex;
    padding-left: 2vw;
    padding-right: 4vw;

}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.pro-name-detail {
    text-align: center;
    font-weight: bold;
}

.tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.objective-customers-container {
    width: 85%;
}

.objective-customers {
    margin-top: 0;
    margin-bottom: -30px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


