<o-form attr="productsDetail" service="products" entity="product" keys="PRO_ID" header-actions="R;U;D"
    show-header-navigation="yes">
    <o-integer-input attr="PRO_ID" sql-type="INTEGER" enabled="no" hidden></o-integer-input>
    <div fxLayout="row">
        <o-column fxFlex fxFlex="auto" style="height: 75vh;">
            <div>
                <o-image class="image" attr="PRO_IMAGE" empty-image="assets/images/no-image.png"
                    sql-type="OTHER"></o-image>
            </div>
        </o-column>
        <o-column fxFlex fxLayoutGap="auto" fxFlex="auto" style="height: 75vh;" title="PRODUCTS_DETAIL">
            <div fxLayout="row" fxLayoutGap="auto" fxLayoutAlign="start center">
                <o-text-input fxFlex="40" attr="PRO_NAME" label="PRO_NAME" required="yes"></o-text-input>
                <o-slide-toggle attr="PRO_ENABLED" label="PRO_ENABLED" read-only="no"></o-slide-toggle>
            </div>
            <div>
                <o-currency-input fxFlex="20" attr="PRO_PRICE" label="PRO_PRICE" required="yes"></o-currency-input>
            </div>
            <div class="textDescriptionContainer">
                <o-textarea-input attr="PRO_DESCRIPTION" label="PRO_DESCRIPTION" required="yes" rows="8"></o-textarea-input>
            </div>
        </o-column>
    </div>
</o-form>