<o-table attr="sellersTable" service="users" entity="sellerRole" keys="USR_ID"
    columns="USR_ID;USR_LOGIN;USR_NAME;USR_SURNAME;USR_EMAIL;USR_PASSWORD;USR_NOTES;USR_PHONE;USR_CREATION_DATE;USR_DOWN_DATE;USR_PHOTO"
    visible-columns="USR_LOGIN;USR_NAME;USR_SURNAME;USR_EMAIL;USR_PHONE" query-rows="15" delete-button='no'>
    <o-table-column attr="USR_LOGIN" min-width="150px"></o-table-column>
    <o-table-column attr="USR_NAME" min-width="150px"></o-table-column>
    <o-table-column attr="USR_SURNAME" min-width="150px"></o-table-column>
    <o-table-column attr="USR_EMAIL" min-width="150px"></o-table-column>
    <o-table-column attr="USR_PHONE" min-width="150px"></o-table-column>
</o-table>
