.container {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 3%;
}


.img-container {
    display: flex;
    justify-content: center;
}


.img-product {
    max-width: 300px;
    max-height: 400px;
}

.prod-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-left: solid 2px darkgray;
    padding-left: 5%;
}

.priceSale p {
    margin: 0px;
}

.priceSale p span {
    margin-right: 3%;
}

.originalPrice {
    font-weight: lighter;
    font-size: 0.7em;
    text-decoration: line-through;
}

.regularPrice {
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
}

h1 {
    margin-top: 0px;
}


.title::first-letter {
    text-transform: capitalize;
}


.description::first-letter {
    text-transform: capitalize;
}


.description {
    text-align: justify;
    margin-right: 3%;
}

.price {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
}


.buy-button {
    border-radius: 10px;
    width: 125px;
    height: 60px;
    background-color: rgb(242, 242, 115);
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
}