.content-container {
    background-color: white;
    padding: 20px;
}

.main-container {
    display: flex;
}

.selector-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
}

.selector-field {
    width: 200px;
    margin-bottom: 10px;
}

.heat-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


