<div class="content-container">
  <h1>{{ 'CUSTOMERS_ANALYSIS' | oTranslate }}</h1>
  <div class="main-container">
    <div class="selector-container">
      <mat-form-field appearance="fill" class="selector-field">
        <mat-label>{{ 'SELECT_X_AXIS' | oTranslate }}</mat-label>
        <mat-select [(ngModel)]="selectedXAxis" (selectionChange)="updateAxisLabels(); fetchCustomerData();">
          <mat-option value="GENDER">{{ 'GENDER' | oTranslate }}</mat-option>
          <mat-option value="AGE_RANGE">{{ 'AGE_RANGE' | oTranslate }}</mat-option>
          <mat-option value="SKIN_TYPE">{{ 'SKIN_TYPE' | oTranslate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="selector-field">
        <mat-label>{{ 'SELECT_Y_AXIS' | oTranslate }}</mat-label>
        <mat-select [(ngModel)]="selectedYAxis" (selectionChange)="updateAxisLabels(); fetchCustomerData();">
          <mat-option value="GENDER">{{ 'GENDER' | oTranslate }}</mat-option>
          <mat-option value="AGE_RANGE">{{ 'AGE_RANGE' | oTranslate }}</mat-option>
          <mat-option value="SKIN_TYPE">{{ 'SKIN_TYPE' | oTranslate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="heat-map-container">
      <ngx-charts-heat-map [view]="view" [scheme]="colorScheme" [results]="multi" [legend]="legend" [xAxis]="xAxis"
        [yAxis]="yAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [animations]="animations" [legendPosition]="'right'">
      </ngx-charts-heat-map>
    </div>
  </div>
</div>
