.add-details-title {
    font-weight: bold;
    font-size: large;
    padding: 20px;   
}
.header-area{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.div-container {
    display: flex;
    flex-direction: row;
}
.add-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding: 5%;
    align-items: space-around;
    background-color: white;
}

.image-container {
    max-width: 400px;
}



