<o-form attr="productsForm" service="products" entity="product" PRO_ID="PRO_ID" after-insert-mode="close"
    (afterInsert)="onInsert($event)">
    <div class="add-container">
        <div class="header-area">
            <div class="add-details-title" >{{'ADD_PRODUCT' | oTranslate}}</div>
        </div>
        <div class="content">
            <o-image id="image" attr="PRO_IMAGE" empty-image="assets/images/no-image.png" sql-type="OTHER"></o-image>
            <div class="info">
                <div class="name">
                    <o-text-input attr="PRO_NAME" step="0" grouping="no" required="yes"></o-text-input>
                    <o-slide-toggle attr="PRO_ENABLED" label="PRO_ENABLED" read-only="no"></o-slide-toggle>
                </div>
                <div class="prices">
                    <o-real-input attr="PRO_PRICE" required="yes" max-decimal-digits="2" min-decimal-digits="2"
                        decimal-separator=","></o-real-input>
                    <o-currency-input #proSaleCurrency attr="PRO_SALE" label="PRO_SALE"
                        required="no"></o-currency-input>
                    <o-slide-toggle id="proSaleActivate" #proSaleToggle attr="PRO_SALE_ACTIVATE"
                        label="PRO_SALE_ACTIVATE" read-only="no" (onChange)="onChange($event)"></o-slide-toggle>
                </div>
                <div class="filter">
                    <o-combo attr="CAT_ID" searchable="yes" service="categories" entity="category" keys="CAT_ID"
                        columns="CAT_NAME" visible-columns="CAT_NAME" value-column="CAT_ID" required="yes"
                        null-selection="no"></o-combo>
                    <o-combo attr="BRA_ID" searchable="yes" service="brands" entity="brand" keys="BRA_ID"
                        columns="BRA_NAME" visible-columns="BRA_NAME" value-column="BRA_ID" required="yes"
                        null-selection="no"></o-combo>
                </div>
                <div class="description">
                    <o-textarea-input attr="PRO_DESCRIPTION" required="yes"></o-textarea-input>
                </div>
            </div>
        </div>
    </div>
</o-form>