<div fxFlex="column" fxFlexFill>
  <h2>{{'PROFILE' | oTranslate}}</h2>

  <o-form #form attr="users_form_edit" service="users" entity="profile" header-actions="R;U" keys="usr_id" keys-sql-types="integer" columns="usr_id"
    header-position="bottom" layout-direction="row" detect-changes-on-blur="no" fxFill undo-button="no" stay-in-record-after-insert="true"
    query-on-init="no" show-header="no">

    <div fxLayout="row" fxLayoutGap="50px" fxFill>
      <div fxLayout="column" fxFlex="calc(50% - 15px)" fxLayoutGap="15px" fxFlex="60%">
        <o-row title="user-login-section" layout-gap="15px">
          <o-text-input attr="usr_login" required="yes"></o-text-input>
        </o-row>

        <o-column title="user-data-section" layout-gap="15px" fxFlex="1 1 100%" layout-align="start stretch">
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
            <o-text-input attr="usr_name" required="yes"></o-text-input>
            <o-text-input attr="usr_surname"></o-text-input>

          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
            <o-text-input attr="usr_phone"></o-text-input>
          </div>

          <div fxLayout="row">
            <o-email-input attr="usr_email" fxFlex></o-email-input>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <o-button type="FLAT" [enabled]="!isUpdatateButtonDisabled()" (click)="updateProfile()" label="UPDATE_PROFILE" color="primary"></o-button>
          </div>
        </o-column>
      </div>

      <o-image attr="usr_photo" empty-image="assets/images/no-image.png" sql-type="OTHER" class="avatar" label="PROFILE.EDIT_PHOTO"></o-image>
    </div>

  </o-form>
</div>
