<section class="order_history">
  <o-list #ordersList attr="ordersList" service="orders" entity="orderByUser" keys="ORD_ID"
    columns="ORD_ID;ORD_DATE;ORD_NAME;ORD_PHONE;ORD_ADDRESS;ORD_ZIPCODE;OP_TOTAL;ORD_PAID;OP_NUMERO_PRODUCTOS;OP_NUMERO_UNIDADES" 
    class="order_history_list" delete-button="false">

    <mat-card class="order_card" *ngFor="let row of ordersList.dataArray" [o-list-item]="row">
      <mat-card-header class="order_card_header">
        <mat-card-title class="order_card_tittle">ID del pedido : {{ row.ORD_ID }}</mat-card-title>
        <div class="order_date">
          <span>{{row.ORD_DATE | date: 'dd/MM/yyyy'}}</span>
        </div>
      </mat-card-header>
      <div class="order_body_container">
        <div class="order_data">
          <div class="user_info">
            <div>
              <p>
                <span>Nombre : </span>{{row.ORD_NAME}}
              </p>
              <p><span>Tlf : </span> {{row.ORD_PHONE}}</p>
            </div>
            <div>
              <p><span>Dirección : </span> {{row.ORD_ADDRESS}} </p>
              <p>
                <span>CP : </span>{{row.ORD_ZIPCODE}}
              </p>
            </div>
          </div>
          <div class="order_products">
            <p>{{row.OP_NUMERO_UNIDADES}} unidades de {{row.OP_NUMERO_PRODUCTOS}} productos.</p>
          </div>
        </div>
        
        <div class="total_price_container">
          <div class="paid_status">
            <div class="paid" *ngIf="row.ORD_PAID && row.ORD_PAID != undefined">
              Pago realizado
            </div>
            <div class="unpaid" *ngIf="!row.ORD_PAID || row.ORD_PAID === undefined">
              Pendiente de pago
            </div>
          </div>
          <div class="total_price">
            <p>Precio total:</p>
            <p>{{row.OP_TOTAL}} €</p>
          </div>
        </div>
      </div>
    </mat-card>
  </o-list>
</section>