.bg-container{
    background-color: white;
    padding-top: 1vh;
}

.chart-container{
    padding-left: 2vw;  
    padding-right: 2vw; 
}


h1{
    padding-left: 2vw;
}

.insights-container{
    padding-bottom: 40px;
}

.insight{
    padding-bottom:10px;
}

.bold{
    font-weight: bold;
}

