<div class="bg-container">
       <h1>{{"FACTURATION_TITLE" | oTranslate}}</h1>
       <div class="chart-container">
              <div class="chart-tittle-y-container">
                     <div class="chart">
                            <o-chart type="discreteBar" service="orders" entity="totalPriceOrders" x-axis="ORD_DATE"
                                   x-data-type="time" y-axis="AMOUNT_PRICE" x-label="Time" y-label="Amount (€)">
                            </o-chart>
                     </div>
              </div>
       </div>
</div>