<h1>BILLED BY AGE</h1>
<div class="grid_container">
    <div class="grid_item_y">
        FACTURACIÓN
    </div>
    <div>
        <o-chart type="discreteBar" service="orders" entity="totalPriceOrders" x-axis="USR_AGE_RANGE" 
            y-axis="AMOUNT_BILLED" x-label="Age" y-label="Amount (€)">
        </o-chart>
    </div>

    <div class="grid_item_x">
        EDAD
    </div>
</div>


<o-form #oForm entity="EAccounts" keys="ACCOUNTID" show-header="yes" header-mode="none" label-header="Account detail"
    header-actions="R" fxLayout="column" class="mat-elevation-z4" query-on-init="no">
    <o-row elevation="0" layout-align="space-between center">
        <o-integer-input attr="age1" layout-padding></o-integer-input>
        <o-integer-input attr="age2" layout-padding></o-integer-input>
    </o-row>
    <o-chart type="discreteBar" x-label="Axis x" y-label="Axis Y" entity="EMovementTypesTotal" x-axis="MOVEMENTTYPES"
        y-axis="MOVEMENT" query-on-init="no" query-on-bind="yes" parent-keys="ACCOUNTID"
        [color]="colorScheme"></o-chart>
</o-form>