mat-tab-group{
    background-color: white;
    padding-top: 1vh;
}

h1{
    padding-left: 2vw;
}

.chart-container{
    display: flex;
    flex-direction: column;  
    padding-left: 2vw;
    padding-right: 2vw;
}

.insights{
    display: flex;
    padding-bottom: 40px;
}

.bold{
    font-weight: bold;
}

.no-chart{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 40px;
}