o-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

o-daterange-input{
    align-self: self-start;
}

.insights{
    margin-top: 20px;
}

.bold{
    font-weight: bold;
}

.chart-container{  
    padding-left: 2vw;
    background-color: white;
}